{% extends "./base.html" %}

{% block body %}
<h1> Detailed Page of restaurant : {{restaurant.name}} </h1>

<div id="reviews">
    {% for review in reviews %}
    <div id="review">
        <div id="time">
            {{review.reviewInputDateTime}}
        </div>

        Review:
        {{review.description}}
        <div id="rating">
            Rating:
            {{review.rating}}
        </div>

        User: {{review.user}}
        <a href="{% url 'review_detail' review.id %}"> View Comment </a>
    </div>
</div>
{% empty %}
<li>
    No Review
</li>
{% endfor %}


{% if review_exist == False%}

<a href="{% url 'review' restaurant.id %}"> Submit Review </a>
{% endif %}
<div>
    <a href="{% url 'cat_list' %}"> Click to go back</a>
</div>

{% endblock %}