<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/app.js' %}"></script>

    {% block title %}
    <h1>
    Restaurants
    </h1>
    {% endblock %}
</head>

<body>
    {% block body %}

    {% for review in reviews %}
    <div id="review">

        Review:
        {{review.description}}

        Rating:
        {{review.rating}}

        Time:
        {{review.reviewInputDateTime|date:'d b H:i'}}

    </div>
    {% empty %}
    <li>
        No Review
    </li>
    {% endfor %}

    <a href="{% url 'review' restaurant.id %}"> Submit Review </a>
    </input>

    <div>
        <a href="{% url 'index' %}"> Click to go back</a>
    </div>

    {% endblock %}

</body>

</html>