<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- <link rel="stylesheet" href="{ % static 'css/styles.css' % }"> -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block title %}
    Restaurants
    {% endblock %}
</head>

<body>
    {% block body %}
    {% for review in reviews %}
    <div id="review">

        Review:
        {{review.description}}

        Rating:
        {{review.rating}}

        Time:
        {{review.reviewInputDateTime|date:'d b H:i'}}

    </div>
    {% empty %}
    <li>
        No Review
    </li>
    {% endfor %}


    <button id="review"> Leave a review </button>

    <input type="text" id="text_review" style="visibility: hidden"> </input>

    <input type="submit" id="text_review" style="visibility: hidden">
    <a href="{% url 'review' restaurant.id %}"> Submit Review </a>
    </input>

    <div>
        <a href="{% url 'index' %}"> Click to go back</a>
    </div>

    {% endblock %}

</body>

</html>