{% extends "./base.html" %}

{% block body %}
<a href="{% url 'logout' %}" class="submit_button" id="logout"> Logout</a>
<h1>List of restaurants in selected category : </h1>
<ul>
    {% for restaurant in restaurants%}
    <li>
        <a href="{% url 'rest_detail' restaurant.id %}" class="list_item">
            {{ restaurant }}
        </a>

        <div id = rest_rating>
            Average Rating : 
            {{restaurant.rating}}
        </div>
       
    </li>
    {% endfor %}
</ul>

<div>
    <a href="{% url 'cat_list' %}" class="submit_button"> Go back</a>
</div>

{% endblock %}